.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 450px;
    border-radius: 5%;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    background-color: whitesmoke;
}
.title{
    color: crimson;
    font-weight: bold;
}
.h2{
    color:dimgray;
    font-weight: bold;
}

.sub-container{
    display: flex;
    flex-direction: row;
}